<%if(scene){%>
    <div class="actions-box" id="<%=scene._id%>">
            <div >
              <% if (currentUser && scene.flag.some(function (flag) {
                  return flag.equals(currentUser._id)
              })) { %>
    
                  <button class="action-buttons action-buttons-selected preventDefault btn-flag" data-toggle="tooltip" data-placement="top" title="You marked this place as visited">
                      <i class="fas fa-map-marked-alt fa-2x"></i>
                  </button>
              <% } else if (currentUser){ %>
                  <button  class="action-buttons preventDefault btn-flag">
                      <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                  </button>
              <% } else { %> 
                <button  class="action-buttons preventDefault " data-toggle="modal" data-target="#staticBackdrop">
                    <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                </button>
                <% } %> 
            </div>
            
            <div >
              <% if (currentUser && scene.saveScene.some(function (saved) {
                  return saved.equals(currentUser._id)
              })) { %>
    
                  <button href="#" type="submit" class="mark-visited action-buttons action-buttons-selected btn-save preventDefault" data-toggle="tooltip" data-placement="top" title="Remove it from your saved Places">
                      <i class="fas fa-clipboard fa-2x"></i>
                  </button>
              <% } else if (currentUser){ %>
                  <button href="#" type="submit" class="mark-visited action-buttons btn-save preventDefault">
                      <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                  </button>
              <% } else {%> 
                <button href="#" type="submit" class="mark-visited action-buttons preventDefault" data-toggle="modal" data-target="#staticBackdrop">
                    <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                </button>
              <% } %> 
              </div>
            <%if(currentUser){%>
              <button href="#" class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#sharedScene" title="Share Location">
                  <i class="far fa-paper-plane fa-2x"></i>  
              </button>
            <%} else{%>
              <button href="#" class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#staticBackdrop" title="Share Location">
                  <i class="far fa-paper-plane fa-2x"></i>  
              </button>
           <% }%>
            
        </div>
<%}%>
