<footer>
  <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css"></link>

  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo-container"><a href="../"><img src="/images/Ahoy-world-logo-2.png" loading="lazy" alt="" class="footer-logo"></a></div>
      <div class="footer-fast-links">
        <div class="footer-title">FAST LINKS:</div>
        <div class="footer-link"><a href="../">HOME</a></div>
        <div class="footer-link"><a href="../scenes">ALL SCENES</a></div>
        <div class="footer-link"><a href="../ahoytravelers">AHOY TRAVELERS</a></div>
        <div class="footer-link"><a href="../about">ABOUT AHOY WORLD</a></div>
      </div>
      <div class="footer-devoper">
        <div class="footer-title">DEVELOPED BY:</div>
        <div class="footer-link">Leon Soares</div>
        <div class="footer-link">leonsoares3@gmail.com</div>
        <div class="footer-link">Multimedia Developer</div>
      </div>
      <div class="let-travel-title">
        <div class="footer-link">LET'S TRAVEL TOGETHER</div>
        <div class="footer-link">@2020</div>
        
      </div>
    </div>
  </div>
</body>
<%- include("modals.ejs") %>
</footer>

<%if(currentUser){ %>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/addNewScene.js"></script>
  
  
<%}%>

<script src="/javascripts/basicSetUp.js"></script>

</html>