<%- include("../partials/header.js") %>

<div class="container-xl container-fluid row justify-content-md-center">
    
    <form class="form-group col-md-auto" action="/scenes/<%=scene._id%>/comments" method="POST" enctype="multipart/form-data">
        <h1 class="text-center">Make a Comment to <%= scene.name%></h1>

        <h4> Text</h4>
        <input class="form-control" type="text" name="text" placeholder="your comment...">
        <br>
        <br>
        <input type="submit">

    </form>
</div>

<%- include("../partials/footer.js") %>