<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<link rel="stylesheet" href="/stylesheets/about.css"></link>

<div class="page-container">
<div class="container">
    <div class="about-container">
        <h3>Welcome to Ahoy World</h3>

        <p>We are a community of travelers and trailblazers banded together 
            <br>
            to see this wild and wonderful world though a different lens.  
            <br>
            Our site is a place for adventurous seekers to connect through shared experience, stories, and photos.  
            <br>
            We’ve created this page to be a useful, engaging, and easy to navigate space that 
            <br>
            highlights the world’s most unique and exciting destinations.  
            <br>
            Use the site to get inspired to plan your next adventure, travel virtually through new lands, or 
            <br>
            connect with other like-minded voyagers. 
            Become a part of the Ahoy World today. 
            <br>
            
        </p>
    </div>


        <h3 class="how-to">How to Navigate</h3>
    <div class="accordion " id="accordionExample">
        <div class="card ">
            <div class="card-header " id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Welcome:
                </button>
            </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                    This page was designed to help you, you can visit at any time, select any dropdown options below and learn how this app operates. 
                    <img src="/images/gifs/02"  class="d-inline-block align-top" alt="" loading="lazy">
                    
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Account:
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                    Logging in to your account is the only way to unlock most functions on our app.
                    Sign up if you do not have an account so you do not miss out on anything.
                    <img src="/images/gifs/03.gif"  class="d-inline-block align-top" alt="" loading="lazy">

                    
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        User Profile:
                </button>
            </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                    Access your profile account to see all your activities.
                    <img src="/images/gifs/04"  class="d-inline-block align-top" alt="" loading="lazy">

                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header" id="heading4">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                        Edit Profile:
                    </button>
                </h2>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                    Pick a new avatar, link your social media, tell us what kind of travelers you are.
                    <img src="/images/gifs/05"  class="d-inline-block align-top" alt="" loading="lazy">

                </div>
                </div>
            </div>

            <div class="card">
                    <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5a" aria-expanded="false" aria-controls="collapseThree">
                            Your Locations:
                        </button>
                    </h2>
                    </div>
                    <div id="collapse5a" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                            All your posts can be easily found on your user profile.
                            <img src="/images/gifs/06"  class="d-inline-block align-top" alt="" loading="lazy">

                        </div>
                    </div>
                </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                        Adding a location:
                    </button>
                </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Have a location that you want to share? Post them so we can go visit it.
                        <img src="/images/gifs/07"  class="d-inline-block align-top" alt="" loading="lazy">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                        Editing or Deleting a post:
                    </button>
                </h2>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        You can edit or delete your post for any reason, just go to your profile page and select the post that you want to.
                        <img src="/images/gifs/08"  class="d-inline-block align-top" alt="" loading="lazy">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                        Flagged:
                    </button>
                </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Places that  you flagged can be found on your user profile area.
                        <img src="/images/gifs/09"  class="d-inline-block align-top" alt="" loading="lazy">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                        Places Saved:
                    </button>
                </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Locations that you saved can be found on your user profile area.
                        <img src="/images/gifs/09"  class="d-inline-block align-top" alt="" loading="lazy">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                        Following a traveller:
                    </button>
                </h2>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Found Ahoy-Travelers that you like and do not want to miss out on their posts?
                        Following them is the easiest way.
                </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
                        Flagging location:
                    </button>
                </h2>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    if you have visited a location already, flag it! Your followers will be able to see how much of the world you have discovered.    
                    <img src="/images/gifs/09"  class="d-inline-block align-top" alt="" loading="lazy">

                </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseThree">
                        Saving  location:
                    </button>
                </h2>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Save as many locations as you want to help you get inspired for your next trip, you can revisit them on your profile at any time.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapseThree">
                        Rate it:
                    </button>
                </h2>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    You can help our travelers on the comment section at each location page, suggestions are very appreciated.                     </div>
                    <img src="/images/gifs/12"  class="d-inline-block align-top" alt="" loading="lazy">

                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapseThree">
                        3D Map View:
                    </button>
                </h2>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Most of our locations will display a 3D map that will make you feel like you are already there.
                        If the location does not display it, maybe you can be the first to ever make a panorama there when you visit. We would love to display it here.
                        <img src="/images/gifs/11"  class="d-inline-block align-top" alt="" loading="lazy">

                </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapseThree">
                        Category Search Tag:
                    </button>
                </h2>
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        You can search by clicking on a categories tag, this will display only what you are interested in discovering on Ahoy World.
                        <img src="/images/gifs/10"  class="d-inline-block align-top" alt="" loading="lazy">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapseThree">
                        Featured Posts:
                    </button>
                </h2>
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        Here you can find some handpicked locations that we think you would love. Check them out.
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapseThree">
                        Most Popular:
                    </button>
                </h2>
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    This section displays our locations that are most visited, saved, rated and commented by our Ahoy-Travelers.   
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapseThree">
                        High Rank Ahoy-Travelers:
                    </button>
                </h2>
                </div>
                <div id="collapse18" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    As you contribute to our community by adding  new locations, it will not go unnoticed, we will display you on our High Rank Travelers Mural.
                </div>
            </div>
    </div>
</div>
</div>
</div>
</div>

<%- include("partials/footer.ejs") %>
