<%- include("../partials/header.js") %>

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="<%=notification.goTo%>">
			<%= notification.username + " " + notification.message%>
		</a>
	</li>
	<% }); %>
</ul>

<%- include("../partials/footer.js") %>