<%- include("../partials/header.js") %>

<h1>Notifications</h1>

<ul>
	<% notifications.forEach(function(notification) { %>
	<li>
		<a href="/scenes/<%= notification.sceneId %>">
			<%= notification.username %> created a new scene %>
		</a>
	</li>
	<% }); %>
</ul>

<%- include("../partials/footer.js") %>