<%- include("../partials/navBar.ejs") %>
<link rel="stylesheet" href="/stylesheets/newScene.css"></link>


<div class="newSceneForm">
<form  action="/scenes" method="POST" enctype="multipart/form-data">
<div class="form-group">
    <h5 class="card-title">Add New Scene info</h5>
</div>

<br>

<div class="form-group">
    <h6> Pick a tag that best describes your scene:</h6>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="beach" id="beach"/><label class="form-check-label" for="beach">beach</label> 
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="waterfall" id="waterfall"/><label for="waterfall">waterfall</label> 
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="forest" id="forest"/><label for="forest">forest</label> 
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="island" id="island"/><label for="island">island</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="city" id="city"/><label for="city">city</label> 
    </div> 
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="searchTach"  value="lake" id="lake"/><label for="lake">lake</label> 
    </div>
</div>
    
    
    <div class="form-group">
        <label for="email@">Scene Title</label>
        <input type="text" class="form-control" value="" maxlength="40" name="title">
    </div>

    
    
    <div class="form-group">
        <label for="location">Scene Location:</label>
        <select name="country" class="form-control countries order-alpha" id="countryId">
            <option value="">Select Country:</option>
        </select>
        <select name="state" class="form-control states order-alpha" id="stateId">
            <option value="">Select State:</option>
        </select>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script src="//geodata.solutions/includes/countrystate.js"></script>
    </div>

    <br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Scene Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    

    <div class="form-group">
        <label for="image">Image</label>
        <input type="url" name="image1" placeholder="url"  class="form-control" placeholder="" id="instagram">
    </div>

    <div class="">
            <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
    </div>





<!-- 
<div class="container-xl container-fluid row justify-content-md-center">
    
        <form class="form-group col-md-auto" action="/scenes" method="POST" enctype="multipart/form-data">
            <h1 class="text-center">Creat a new scene</h1>
            <br>
    
            <h4> Name</h4>
            <input class="form-control" type="text" name="name" placeholder="enter new scene name">
            <br> -->
    
            <!-- <h4> Location</h4>
            <input class="form-control" type="text" name="location" placeholder="City, Country..."> -->
            <!-- <br>
            <div class="form-group">
                <label for="location">Your location:</label>
                <select name="location.country" class="form-control countries order-alpha" id="countryId">
                    <option value="">Select Country:</option>
                </select>
                <select name="location.state" class="form-control states order-alpha" id="stateId">
                    <option value="">Select State:</option>
                </select>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
                <script src="//geodata.solutions/includes/countrystate.js"></script>
            </div>
            <br>
            <div class="form-group">
                <h6>Select a tag that better describes this location:</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="waterfallSearchTag" value="Waterfall">
                    <label class="form-check-label" for="Waterfall">Waterfall</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="beachSearchTag" value="beach">
                    <label class="form-check-label" for="Beach">Beach</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="forestSearchTag" value="forest" >
                    <label class="form-check-label" for="Forest">Forest</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="islandSearchTag" value="island" >
                    <label class="form-check-label" for="Island">Island</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="mountainSearchTag" value="mountain" >
                    <label class="form-check-label" for="Mountain">Mountain</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="citySearchTag" value="city" >
                    <label class="form-check-label" for="city">city</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tagSearch" id="lakeSearchTag" value="lake" >
                    <label class="form-check-label" for="lake">lake</label>
                </div>
            </div>
            <br>
            <h4> Description</h4>
            <textarea name="description" cols="30" rows="10"></textarea>
            <br>
    
            <h4> Image</h4>
            <input type="text" name="image" placeholder="image url"> -->
            <!-- <input type="file" name="file" placeholder="image"> -->
<!--     
            <br>
            <br>
            <input type="submit">
    
        </form>
    </div> -->