
.container-fluid{
  position: fixed;
  z-index: 1;
}
.searchInput{
  width: 50%;
}

.main-featured-content {
  width: 100%;
  height: auto;
  margin-top: 30px;
}


.input-container{
  width: 100%;

}

.input-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-main{
  display: inline-block;
  width: 50%;
  margin: 0;
}

input .main-search{
  width: 500px;
}
.popular-posts-container {
  display: block;
  width: 60%;
  height: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.traveler-prof-pic {
  width: 100%;
  
}

.submit-button {
  display: block;
  width: 100%;
  background-color: #000;
}

.submit-button:hover {
  background-color: #3898ec;
}

.subscribe-bg-block {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #363333;
}



.menubar{
  z-index: 2;
}
.featured-img .image-featured{
  z-index: 1;
  -webkit-transition: -webkit-transform 3000ms ease-in;
  transition: -webkit-transform 3000ms ease-in;
  -o-transition: transform 3000ms ease-in;
  transition: transform 3000ms ease-in;
  transition: transform 3000ms ease-in, -webkit-transform 3000ms ease-in;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.featured-img:hover .image-featured{
  z-index: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.popular-title {
  display: block;
  margin-bottom: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-block-4 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}


.btn-search{
  display: inline;
  margin: 0px;
}



.tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe-text-container {
  display: block;
  width: 40%;
  margin-right: 24px;
  margin-left: 40px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.subscribe-container {
  position: relative;
  display: block;
  height: 100%;
  margin-right: 0px;
  margin-left: 50px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popular-item-container-img {

  position: relative;
  overflow: hidden;
  width: 50%;
  height: 250px;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.popular-item-container-img, a {
  text-decoration: none;
}

.popular-item-container-img, a:hover {
  text-decoration: none;

}

.feature-img-container {
  display: block;
  overflow: scroll;
  width: 100%;
  padding-left: 5px;
  background-color: #1d1e1f;
  white-space: nowrap;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  
}
.featured-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  width: 33.3%;
  height: 290px;
  margin-top: 4px;
  margin-right: 5px;
  border-radius: 10px;
  -o-object-fit: none;
  object-fit: none;
  
}


.featured-img-btn {
  
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  width: 20%;
  height: 60%;
  border-radius: 10px;
  -o-object-fit: none;
  object-fit: none;
  
}
.heading-see-all {
  margin-top: 10%;
  margin-bottom: 0%;
  z-index: 1;
  position: absolute;
  bottom: auto;
  top: 0px;

  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  color: #e4e4e4;
  white-space: break-spaces;
}


.category-block {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.text-field-2 {
  margin-bottom: 0px;
}

.slider-container {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  width: 40%;
  height: 100%;
  -webkit-border-radius: 0px 30% 30% 0px;
  -moz-border-radius: 0px 30% 30% 0px;
  border-radius: 0px 30% 30% 0px;
  -khtml-border-radius: 0px 30% 30% 0px;
}

.category-tag-waterfall {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #1361a5;
}

.category-tag-waterfall:hover {
  background-color: #074377;
}
come here
.see-all-btn-container{
  display: inline-block;
  width: 15%;
  
}




.traveler-place {
  margin-top: 3px;
  margin-bottom: 0px;
  color: rgb(205, 205, 206);
  font-size: 15px;
  line-height: 20px;
}



.heading-8 {
  z-index: 1;
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 90%;
  margin-right: 5px;
  margin-left: 5px;
  color: #e4e4e4;
  white-space: break-spaces;
}

.travelers-item-block {
  color:#eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  padding: 5px 5px 5px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.travelers-item-block:hover {
  background-color: #eeeeee;
  color: #056b7a;
  -webkit-box-shadow: 1px 0 2px 0 #000;
          box-shadow: 1px 0 2px 0 #000;
}

.travelers-item-block:hover .traveler-place{
  color: #056b7a;
}

.category-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  line-height: 28px;
}

.popular-travelers-container {
  display: block;
  width: 40%;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.image-featured {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.fa-arrow-left{
  margin-right: 20px;
}

.button-link {
  margin-bottom: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.see-all-btn{
  margin-top: 0px;
  text-align: end;
  margin-right: 3rem;

}

.button-link:hover .heading-7 {
  color:#ffffff;
  text-shadow: 2px 2px 3px #000000;

}



.ahoy-title {
  color: #eeeeee;
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size:3em;
  text-decoration: none;
  white-space: normal;
  
}

a{
    font-family: Ubuntu, Helvetica, sans-serif;

}
.scene-title{
  text-shadow: 2px 2px 3px #000000;

}



.slider-animation {
  
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #2b2929c0;
  background-image: url("../images/bg-slider/1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  -webkit-animation: slide 50s infinite;
          animation: slide 50s infinite;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}
@-webkit-keyframes slide{
  0%{

    background-image: url("../images/bg-slider/1.jpg");
    

  }
  24%{
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    

  }
  25%{

    -webkit-transition: ease-out 0.5s;

    -o-transition: ease-out 0.5s;

    transition: ease-out 0.5s;
    background-image: url("../images/bg-slider/2.jpg");

  }
  50%{

    background-image: url("../images/bg-slider/3.jpg");

  }
  75%{

    background-image: url("../images/bg-slider/4.jpg");

  }
  100%{

    background-image: url("../images/bg-slider/5.jpg");
    -webkit-transition: ease-out 1s;
    -o-transition: ease-out 1s;
    transition: ease-out 1s;

  }
}
@keyframes slide{
  0%{

    background-image: url("../images/bg-slider/1.jpg");
    

  }
  24%{
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    

  }
  25%{

    -webkit-transition: ease-out 0.5s;

    -o-transition: ease-out 0.5s;

    transition: ease-out 0.5s;
    background-image: url("../images/bg-slider/2.jpg");

  }
  50%{

    background-image: url("../images/bg-slider/3.jpg");

  }
  75%{

    background-image: url("../images/bg-slider/4.jpg");

  }
  100%{

    background-image: url("../images/bg-slider/5.jpg");
    -webkit-transition: ease-out 1s;
    -o-transition: ease-out 1s;
    transition: ease-out 1s;

  }
}


.slider-animation.cc-work-1 {
  height: 100%;
  /* background-image: url('../images/portfolio-1---wide.svg'); */
  background-size: cover;
}

.name-text {
  display: inline;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  color:#eeeeee;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.becomeAhoy{
  margin:20px;
}



.subscribe-form-container {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  background-color: rgb(52, 58, 64);
}

.featured-title {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
  color:#e4e4e4;
}


.subscribe-bg-white {
  width: 30%;
}


.travelers-prof-pic-container {
  display: block;
  overflow: hidden;
  width: 90px;
  border-radius: 100%;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px 2px #05252a;
          box-shadow: 1px 1px 2px 2px #05252a;
}

.categori-description-block {
  text-decoration: none;
  width: 40%;
  margin-left: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color:#eeeeee;
}

.popular-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 90%;
  margin-bottom: 25px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.popular-item-container:hover {
  color: #056b7a;
  background-color: #eeeeee;
  -webkit-box-shadow: 1px 1px 3px 0 #000;
          box-shadow: 1px 1px 3px 0 #000;
}

.popular-item-container:hover .categori-description-block{
  color: #056b7a;
  
}

.arrow{
  color: #eeee;
}

.arrow:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor:pointer;
}

.content-text-title {
  display: block;
  width: 90%;
  margin-top: 50px;
  
}

.under-mark-across {
  width: 60%;
  height: 1px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#797575), to(transparent));
  background-image: -o-linear-gradient(left, #797575, transparent);
  background-image: linear-gradient(90deg, #797575, transparent);
}

.category-description {
  display: block;
  font-size: 14px;
}

.section-popular {
  display: block;
  margin: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #363333;
}

.subscribe-text {
  color: #fff;
}

.category-container {
  display: block;
  margin-bottom: 0px;
}

.heading-4 {
  margin: 0px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.subscribe-section {
  height: 90vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #272121;
}

.subscribe-content-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 0%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-7 {
  text-decoration: none;
  color: #e4e4e4;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 20px;
}

.traveler-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.section-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(47, 46, 46);
}

.section-popular-container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.travelers-info-block {
  display: inline-block;
  margin-left: 10px;
}

.travelers-block {
  width: 100%;
  margin-bottom: 48px;
}

.subscribe-bg-img {
  width: 70%;
  height: 100%;
  background-image: url("https://www.teahub.io/photos/full/100-1001943_awesome-lonely-night-with-moon-4k-wallpaper-nature.jpg");
  background-position: 50% 50%;
  background-size: cover;
}


.beach {
  margin: 5px 5px 5px 0px;
  background-color: #928017;
  text-decoration: none;
  text-transform: none;
}

.beach:hover {
  background-color: #695b09;
}

.lake {
  margin: 5px 5px 5px 0px;
  background-color: #0799af;
  text-decoration: none;
  text-transform: none;
}

.lake:hover {
  background-color: #076d7c;
}

.forest {
  margin: 5px 5px 5px 0px;
  background-color: #0f9423;
  text-decoration: none;
  text-transform: none;
}

.forest:hover {
  background-color: #056814;
}

.island {
  margin: 5px 5px 5px 0px;
  background-color: #8829c4;
  text-decoration: none;
  text-transform: none;
}

.island:hover {
  background-color: #530a81;
}

.mountain {
  margin: 5px 5px 5px 0px;
  background-color: #e94a4a;
  text-decoration: none;
  text-transform: none;
}

.mountain:hover {
  background-color: #ac1b1b;
}

.waterfall {
  margin: 5px 5px 5px 0px;
  text-decoration: none;
}

.waterfall:hover {
  background-color: #1361a5;
}

.submit-button-2 {
  background-color: #000;
}





.category-tag-mountain {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #e94a4a;
}

.category-tag-mountain:hover {
  background-color: #b42121;
}

.category-tag-lake {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #0799af;
}

.category-tag-lake:hover {
  background-color: #056b7a;
}

.category-tag-beach {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #928017;
}

.category-tag-forest {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #0f9423;
}

.category-tag-island {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #8829c4;
}

.justTest{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical ;
  -webkit-box-direction: normal;
      -ms-flex-direction: vertical ;
          flex-direction: vertical ;
}

.centerText{
  text-align: center;
}

.signUpHeader{
  margin-top: 10px;
}

.avatar {
  width: 35px;
  
}

.city {
  z-index: 1;
  margin: 5px 5px 5px 0px;
  background-color: #e00ea8;
  text-decoration: none;
  text-transform: none;
}

.city:hover {
  background-color: #b30f87;
}

.category-tag-city {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #e00ea8;
}

.category-tag-city:hover {
  background-color: #a30c7b;
}

.parallax-sec{
  background-image: url("https://api.timeforkids.com/wp-content/uploads/2019/07/Iceland.jpg?w=1455&h=970");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  align-content: center;
  
}

.parallax-text{
  margin-top: auto;
  
}


@media screen and (min-width: 1920px) {
  .featured-img {
    height: 98%;
  }

  .featured-img-btn {
    height: 98%;
  }
  .feature-img-container {
    height: 400px;

  }

  
  .category-tag-waterfall {
    font-size: 20px;
    line-height: 27px;
  }
  .traveler-place {
    font-size: 20px;
    line-height: 26px;
  }
  .category-title {
    font-size: 30px;
    line-height: 36px;
  }
 
  .name-text {
    font-size: 30px;
    line-height: 37px;
  }
  .featured-title {
    font-size: 25px;
    line-height: 30px;
  }
  .category-description {
    font-size: 20px;
    line-height: 25px;
  }
  .heading-4 {
    font-size: 20px;
    line-height: 27px;
  }
  .heading-7 {
    font-size: 25px;
    line-height: 30px;
  }
  .traveler-name {
    font-size: 30px;
    line-height: 37px;
  }
  .beach {
    font-size: 25px;
    line-height: 30px;
  }
  .lake {
    font-size: 25px;
    line-height: 30px;
  }
  .forest {
    font-size: 25px;
    line-height: 30px;
  }
  .island {
    font-size: 25px;
    line-height: 30px;
  }
  .mountain {
    font-size: 25px;
    line-height: 30px;
  }
  .waterfall {
    font-size: 25px;
    line-height: 30px;
  }
  
  .category-tag-mountain {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-lake {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-beach {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-forest {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-island {
    font-size: 20px;
    line-height: 27px;
  }
  .city {
    font-size: 25px;
    line-height: 30px;
  }
  .category-tag-city {
    font-size: 20px;
    line-height: 27px;
  }
}








@media screen and (max-width: 991px) , screen and (max-height: 634px) {
  

  .button-link {
    text-align: center;
    margin-bottom: 10px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }
  .popular-posts-container {
    width: 100%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .content-text-title{
    text-align: center;
    margin-left: 0;
    padding: 0;
    display: none;
  }



  .subscribe-bg-block {
    position: static;
    display: block;
    height: 100%;
  }
  .travelers-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .travelers-container > a{
    width: 40%;
    
  }

  .popular-title {
    margin-left:15px;
  }
  
  .featured-img {
    width: 30%;
    border-radius: 10px;
  }
  .div-block-4 {
    margin-right: 0px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: vertical;
            flex-direction: vertical;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    
  }
.form-content-index{
  width: 100%;
  
}
.input-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    justify-items: center;
}

  .tags-container{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
  }
  
  

  .subscribe-text-container {
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .subscribe-container {
    position: relative;
    display: block;
    height: 80vh;
    margin-right: 0px;
    margin-left: 0px;
  }
  .popular-item-container-img {
    width: 350px;
  }
  .slider-container {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

 
  .category-title {
    display: inline;
  }

 


  .popular-travelers-container {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }
  .ahoy-title {
    white-space: normal;
  }
 
  .right-content {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .subscribe-form-container {
    width: 70%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .subscribe-bg-white {
    display: none;
    background-color: #e16428;
  }
  .popular-item-container {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .category-description {
    display: block;
  }
  .section-popular {
    padding-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .subscribe-text {
    text-align: center;
  }
  .subscribe-content-container {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: auto;
    width: auto;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .section-1-container {
    padding-top: 50px;
    height: 150vh;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .section-popular-container {
    display: block;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .travelers-block {
    width: 100%;
  }
  .subscribe-bg-img {
    display: block;
    width: auto;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
  }


 


@media screen and (max-width: 767px) {
  .footer-link .footer-title{
    font-size: 100px;
  }

  .travelers-container{

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .travelers-container > a{
    margin-left: auto;
    margin-right: auto;
    widows: 100%;
    
  }
  .featured-img {
    width: 40%;
  }
  .div-block-4 {

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
 
  .featured-title {
    line-height: 28px;
    margin-left: 15px; 
  }
  .popular-item-container {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .section-popular {
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-popular-container {
    margin-right: 0px;
    margin-left: 0px;
  }


@media screen and (max-width: 479px) {
  .navbar-brand{
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo{
    width: 100%;
  }
  .ahoy-title{
    font-size: 2em;
  }
  .featured-img {
    width: 75%;
  }
 
  .popular-item-container-img {
    width: 100%;
    height: 200px;
  }

  .right-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .subscribe-form-container {
    width: 90%;
  }
  .categori-description-block {
    text-decoration:none;
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .popular-item-container {
    margin-bottom: 35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content-text-title {
    display: inline-block;
    width: 95%;
    
  }
  .section-popular-container {
    margin-right: 0px;
    margin-left: 0px;
  }


@media screen and (max-width: 220px) {
  .page-container{
    width: 100vw;
  }
  .ahoy-title{
    font-size: 1em; 
  }
  .subscribe-text{
    font-size:1em;
  }
  .footer-container{
    width: 100vw;
  }
  .footer-title{
    font-size: 1em;
  }
  .footer-link{
    font-size: 1px;
  }
  .navbar-brand{
    width: 50px;
  }

}



/* ANIMATION SLIDER */






.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 50s linear infinite;
          animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(/images/Bamboo_Forest.jpg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s; 

}
.slideshow li:nth-child(2) { 
  background-image: url(/images/santorini.jpg);
  -webkit-animation-delay: 10s;
          animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/images/Tianzi_Mountains.jpg);
  -webkit-animation-delay: 20s;
          animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/images/Tunnel_of_Love.jpg);
  -webkit-animation-delay: 30s;
          animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/images/venice.jpg);
  -webkit-animation-delay: 40s;
          animation-delay: 40s; 
}

@-webkit-keyframes imageAnimation { 
  0% {    
    opacity: 1;
  }
  10% {
    opacity: 1;
    
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0.5;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes imageAnimation { 
  0% {    
    opacity: 1;
  }
  10% {
    opacity: 1;
    
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0.5;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}