

.container-fluid{
  position: fixed;
  z-index: 1;
}

.menubar{
  z-index: 2;
}
.scenes-all-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  
}



.btn-search{
  display: inline;
  margin-bottom: 5px;
  
}

.popular-title {
  display: block;
  width: 50%;
  margin-top: auto;
  margin-left: 2%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.scene-item-container-img {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 80%;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.scene-item-container-img .icon-1{
  z-index: -1;
  -webkit-transition: -webkit-transform 3000ms ease-in;
  transition: -webkit-transform 3000ms ease-in;
  -o-transition: transform 3000ms ease-in;
  transition: transform 3000ms ease-in;
  transition: transform 3000ms ease-in, -webkit-transform 3000ms ease-in;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.scene-item-container-img:hover .icon-1{
  z-index: -1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.tags-container{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.action-buttons{
  background: none;
  border: none;
  color: white;
  text-shadow: 1px 2px black;
}

.action-buttons:hover  {
  color: rgb(233, 199, 8);
}

.action-buttons-selected{
  color: rgb(233, 199, 8)
}

.category-title {
  text-decoration: none;
  display: inline-block;
  margin: 0px 5px;
  font-size: 25px;
  line-height: 28px;
}

a:hover .category-title  {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.name-text {
  display: inline;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 2.5em;

  font-weight: 400;
  color:#eeee;
}

.link-more{
  color: #056b7a;
}








.categori-description-block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-bottom: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-align: left;
  text-decoration: none;
}




.scene-item-container {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  text-decoration: none;
  width: 24%;
  height: 75vh;
  margin-bottom: 25px;
  margin-left: 9px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #363538;
}
.scene-item-container:hover {
  
  background-color: #eeeeee;
  -webkit-box-shadow: 1px 1px 3px 0 rgb(185, 185, 185);
          box-shadow: 1px 1px 3px 0 rgb(185, 185, 185);
}

.scene-item-container:hover .category-description{
  color: #056b7a;
}




.under-mark-across {
  width: 60%;
  height: 1px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#797575), to(transparent));
  background-image: -o-linear-gradient(left, #797575, transparent);
  background-image: linear-gradient(90deg, #797575, transparent);
}

.category-description {
  font-family: Ubuntu, Helvetica, sans-serif;

  display: block;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  color:#eeee;
}

.icon-1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.scenes-container {
  width: 95vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  background-color: rgb(41, 42, 45);
}

.index-scenes-conainer {
  margin-top: 0px;
  padding-top: 7%;
  background-color: rgb(47, 46, 46);

}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-field {
  margin-bottom: 0px;
}

.form-block {
  display: block;
}

.title-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  margin-bottom: 25px;
  margin-left: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block {
  color: #333;
  text-decoration: none;
}

.actions-box {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}

.mark-visited {
  /* width: 30px;
  height: 30px; */
  margin-right: 5px;
}

.icons {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.save-scene {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.likes {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.beach {
  margin: 5px 5px 5px 0px;
  margin-left: 0px;
  background-color: #928017;
  text-decoration: none;
  text-transform: none;
}

.beach:hover {
  background-color: #695b09;
}

.lake {
  margin: 5px 5px 5px 0px;
  background-color: #0799af;
  text-decoration: none;
  text-transform: none;
}

.lake:hover {
  background-color: #076d7c;
}

.forest {
  margin: 5px 5px 5px 0px;
  background-color: #0f9423;
  text-decoration: none;
  text-transform: none;
}

.forest:hover {
  background-color: #076b16;
  z-index: 0;
}

.island {
  margin: 5px 5px 5px 0px;
  background-color: #8829c4;
  text-decoration: none;
  text-transform: none;
}

.island:hover {
  background-color: #530a81;
}

.avatar {
  width: 35px;
}

.city {
  z-index: 1;
  margin: 5px 5px 5px 0px;
  background-color: #e00ea8;
  text-decoration: none;
  text-transform: none;
}

.city:hover {
  background-color: #b30f87;
}

.mountain {
  margin: 5px 5px 5px 0px;
  background-color: #e94a4a;
  text-decoration: none;
  text-transform: none;
}

.mountain:hover {
  background-color: #ac1b1b;
}

.waterfall {
  margin: 5px 5px 5px 0px;
  text-decoration: none;
}

.waterfall:hover {
  background-color: #1361a5;
}

.heading-4 {
  margin: 0px 5px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.category-tag-forest {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #0f9423;
}

.category-tag-forest:hover {

  background-color: #076b16;
}

.category-tag-island {
  z-index: 1;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #8829c4;
}


.category-tag-waterfall {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #1361a5;
}

.category-tag-waterfall:hover {
  background-color: #074377;
}

.category-tag-beach {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #928017;
}

.category-tag-city {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #e00ea8;
}

.category-tag-city:hover {
  background-color: #a30c7b;
}

.category-tag-mountain {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #e94a4a;
}

.category-tag-mountain:hover {
  background-color: #b42121;
}

.category-tag-lake {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 3px 5px;
  background-color: #0799af;
}

.category-tag-lake:hover {
  background-color: #056b7a;
}



@media screen and (min-width: 1920px) {
  .category-tag-forest {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-waterfall {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-beach {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-city {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-mountain {
    font-size: 20px;
    line-height: 27px;
  }
  .category-tag-lake {
    font-size: 20px;
    line-height: 27px;
  }
}

.input-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-main{
  width: 80%;
}

.main-search{
  width: 100%;
}

@media screen and (max-width: 991px) {

  .index-scenes-conainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    margin-bottom: 0px ;
    padding-top: 100px;
  }

  .title-search-container {
    margin-left: 30px;
    margin-right: 30px;

    margin-bottom: 0px ;
    padding-bottom: 0px; 

  }

  .title-search-container .popular-title{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  /* .title-search-container div:second-child{
    order: 2;
  } */
  .popular-title{
    margin-top: 40px;
  }

  .form-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }

  
  .form-content-index{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .form-all-cenes{
    width: 100%;
    margin-left: auto;

  }

  .input-container{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  
  
  .main-search{
    width: 100%;
  }

 
  .title-search-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
  .form-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column; 
    -ms-flex-line-pack: center; 
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;

  }
  .tags-container{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }

 
  .scenes-all-posts {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .category-title {
    display: inline;
  }
  .scene-item-container {
    width: 30%;
    margin-right: 9px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .category-description {
    display: block;
    color:#eeee;
  }
}

@media screen and (max-width: 767px) {
  .name-text {
 
    font-size: 1.5em;
  
  }


  .scene-item-container {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 537px) {
  .form-content-index{
    margin-bottom: 35px;
  }
  .main-search{
    margin-bottom: 0;
  }
  .title-search-container{
    margin: auto;
  }
  .input-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-main{
    width:100%;
    margin: 0;
  }
  .form-btn{
    margin: 0;
    width: 100%;
  }
  
  
  .categori-description-block {
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .scene-item-container {
    margin-bottom: 35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 255px) {
  .pagination-container{
    display:none; 
  }
}
