
h1, h2, h3, h4, h5, h6, p, a{
  font-family: Ubuntu, Helvetica, sans-serif;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.loader {
  position: fixed;
  display: flex;
  background: #000000a6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  /* margin: 5rem auto; */
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
  .loader svg {
    
    height: 5.5rem;
    width: 5.5rem;
    fill: rgb(3, 141, 141);
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }


a:visited{
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
a:link:active{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited:active{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.user-name-link{
  color:  rgb(255, 255, 255);
  text-shadow: 1px 2px black;
}

.user-name-link:hover{
  color:  rgb(255, 255, 255);
  text-shadow: 1px 2px black;
  
}

.feedBack{
  color: rgb(214, 0, 0);
  display: none;
}


#menuToggle{
  display: none;
}
.mobile-device-nav{
  display: none;
}

.mobileViewUserInfo{
  display: none;
}
.ahoy-brand{
  display: none;
}


.navbarNav{
    background-color: aqua;
}
.avatarNav {
    overflow: hidden;
    width: 35px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px 2px #000000;
            box-shadow: 1px 1px 2px 2px #000000;

  }

  .container-nav{
  display: inline-block;
  width: 100px;
}

.navbar{
  position: fixed;
  left: 0%;
  right: 0%;
  top:0%;
  bottom: auto;
  z-index: 5;
  background-color: rgba(47, 46, 46, 0);
}

.navbar-brand{
  margin-left: 40px;
}

.right-margin{
  margin-right: 20px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 50px;
  
}
.dark-menu{
  background-color: rgb(54, 54, 54);
  color: white;
}


.dark-menu .dropdown-item:hover{
  color: #016bc2;
}


.explore-opts{
    margin-right: auto;
}



.flash-msg{
  height: 30px;
  position: absolute;
  text-align: end;
  top: 100%;
  bottom: 0px;
  left: auto;
  right: 10px;
  color:#eeee;
}

.success{
  margin: 10px;
  background-color: green;
  width: 100%
}

.error{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
  width: 100%
}
.flash-msg-mobile{
  display: none;
}

@media screen and (max-width: 991px) {
    .flash-msg-mobile{
      display: inline-block;
      position: fixed;
      top: 10%;
      z-index: 15;
    }

    .mobile-device-nav{
      display: block;
    }
    .menu-desk{
        display: none
    }
    .ahoy-brand{
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      margin: 0;
      padding: 0;
    }

    .navbar-brand{
      margin: 0;
      padding-top: 15px;
    }
    

  
    .mobile-itens {
        text-decoration: none;
        color: #eeee;
        opacity:1;
        font-family: Ubuntu, Helvetica, sans-serif;
        font-size: 1.3em;
        font-weight: 400;
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
      }
      a:hover {
        opacity:0.5;
        text-decoration: none;
      }
      ul {
        padding: 0;
        list-style-type: none;
      }
      
      
    
  #mobileViewUserInfo {
    display: inline-block;
    
    position: fixed;
    top: 15px;
    
    left: auto;
    right: 10px;
    z-index: 6;
    -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  }
  .userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  #menuToggle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 6;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  
  #menuToggle input
  {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 42px;
    top: -10px;
    left: -10px;
    cursor: pointer;
    opacity: 0;
    z-index: 8;
    background-color: #eeee;
  }
  
  #menuToggle span
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #eeee;
    border-radius: 3px;
    z-index: 6;
    -webkit-transform-origin: 5px 0px;
        -ms-transform-origin: 5px 0px;
            transform-origin: 5px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menuToggle span:first-child
  {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-3px, -1px);
        -ms-transform: rotate(45deg) translate(-3px, -1px);
            transform: rotate(45deg) translate(-3px, -1px);
    background: #eeee;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
        -ms-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: 0 0 10px rgb(23, 23, 24);
            box-shadow: 0 0 10px rgb(23, 23, 24);
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgb(44, 43, 43);
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu > li {
   margin-left:auto;
   margin-right:auto; 
  }
  
  #menu li
  {
    padding: 10px 0;
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .show > a{
    
    display: block;
    margin-right: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
  }
 
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    color: rgb(255, 255, 255);
    
  }
  .show:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    color: rgb(255, 255, 255);
    display: block;
    
  }
  .dropdown-menu {
    
    text-align: center;
    background-color: #2f2f2f;
    width: 95vw;
    color: rgb(255, 255, 255);
  }
    
}

@media screen and (max-width: 230px) {

  .ahoy-brand{
    width: 100%;
  }
  
  .ahoy-logo{
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
   
  }
  .ahoy-brand >a > img{
    width: 90px;
  }
  .logo-img{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 5px;
  }
  
}
