

.page-container{
    width: 100vw;
    height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: rgb(48, 44, 44);
    
}
.notFound-container{
    text-align: center;
    color: #eeee;
    margin-top:auto;
    margin-bottom: auto;
}