
html{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  border: 0;
}


h1, h1, h3, h4 , h5 ,h6, p, a , div{
  font-family: Ubuntu, Helvetica, sans-serif;
  color:#eeee;
}
.container-fluid{
  position: fixed;
  z-index: 1;
}

.page-container{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color:rgb(47, 46, 46);
}

.menubar{
  z-index: 2;
}

.heading {
    margin-top: 0px;
    font-size: 3em;
    color:#eeee;
  }
  h6{
    color:#eeee;
  }

  a {
    
    text-decoration: none;
    color: inherit;
}

a:hover {
     text-decoration:none;
     color: inherit;    
}
  
  .div-block {
    text-align: center;
  }
  
 
  

 .reviews-block{
  color: rgb(241, 207, 12); 
   z-index: 5;
   position: absolute;
   top: auto;
   right: auto;
   bottom: 0%;
   margin-left: 10px;
 }
 .reviews-block-foot{
  color: rgb(241, 207, 12); 
  margin-left: 10px;
 }
  
  .div-block-3 {
    width: 90vw;
    padding-top: 100px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .text-block {
    display: inline-block;
    text-align: center;
  }

  .actions-box {
    position: absolute;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .mark-visited {
    margin-right: 5px;
  }
  
  .icons {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .avatar {
    width: 35px;
    
  }

  .save-scene {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .likes {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .category-tag-waterfall {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #1361a5;
  }
  
  .category-tag-waterfall:hover {
    background-color: #074377;
  }  

  .category-tag-mountain {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #e94a4a;
  }
  
  .category-tag-mountain:hover {
    background-color: #b42121;
  }
  
  .category-tag-lake {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #0799af;
  }
  
  .category-tag-lake:hover {
    background-color: #056b7a;
  }
  
  .category-tag-beach {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #928017;
  }
  
  .category-tag-forest {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #0f9423;
  }
  
  .category-tag-island {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #8829c4;
  }
  
  .city {
    z-index: 1;
    margin: 5px 5px 5px 0px;
    background-color: #e00ea8;
    text-decoration: none;
    text-transform: none;
  }
  
  .city:hover {
    background-color: #b30f87;
  }
  
  .category-tag-city {
    z-index: 1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 3px 5px;
    background-color: #e00ea8;
  }
  
  .category-tag-city:hover {
    background-color: #a30c7b;
  }




  .action-buttons{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: none;
    border: none;
    color: white;
    text-shadow: 1px 2px black;
  }

  .settings-btn{
    margin-top: 5px;
  }
  .item{
    color: white;
  }

  .mobile-setting-items{
    background-color:rgb(71, 71, 71);
  }
  

 
  .item:hover{
    color: rgb(71, 71, 71);
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
  }

  .heading-4 {
    margin: 0px 5px;
    color: #fff;
    font-size: 1em;
    line-height: 20px;
  }
  
  

  .scene-description{
    margin-left: auto;
    text-indent: 2em;
  }
  
  .heading-5 {
    display: inline-block;
    margin: 0px 3px 0px auto;
  }
  
  
  
  .div-block-6 {
    margin-top: 30px;
    
    -webkit-box-pack: center;
    
        -ms-flex-pack: center;
    
            justify-content: center;
  }

  .carousel-inner > .image{
    display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  } 


  .div-block-2 {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 70vh;
  }
  .carousel{
    height: 70vh
    
  }
  
  .map-text-conteiner{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .created-cont{
    text-align: end;
    margin-right: 5px;
  }

  .div-block-5 {
    text-align: right;
    color:#eeee;
    width: 50%;
    height: 70vh;
    margin-left: auto;
  }

  .div-block-4 {
    width: 50%;
  }

  #pano{
    width: 100%;
    height: 100%;
  }

  .image {
    width: auto;
    height: 100%;
    -webkit-transition: -webkit-transform 7000ms ease-in;
    transition: -webkit-transform 7000ms ease-in;
    -o-transition: transform 7000ms ease-in;
    transition: transform 7000ms ease-in;
    transition: transform 7000ms ease-in, -webkit-transform 7000ms ease-in;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    z-index: -1;
  }

  .div-block-2:hover .image{
    z-index: -1;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    
  }



  .div-block-7 {
    display: block;
    margin-bottom: 25px;
  }
  .link-tag{
    color: #0795aa;
  }
  
  .div-block-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #363538;
  }

  .modal-body{
    text-align: center;
  }
  
  .div-block-9 {
    width: 20%;
    margin: 10px;
    text-align: center;
  }
  
  .traveler-prof-pic {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 1px 2px 2px #888888;
            box-shadow: 1px 1px 2px 2px #888888;
  }
  .starsRatingContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .starsRatingModal{
    display: inline-block;
    margin: auto;
    color: #0799af;
  }
  
  .traveler-place {
    margin-top: 3px;
    margin-bottom: 0px;
    color: #eeee;
    font-size: 1.3em;
    line-height: 20px;
  }
  
  .travelers-item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: auto;
    min-width: 200px;
    margin-top:10px;
    margin-bottom:10px;
    padding: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
  }
  .page-container{
    width: 100%;
    height: 100%;
    background-color: rgb(47, 46, 46);
  }
 
  .noComments{
    border: 3px solid rgb(99, 99, 99);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgb(41, 42, 45);
  }

  .noCommentsContent{
    margin: auto;
    
    background-color: rgb(41, 42, 45);
  }

  .stars-review{
    margin: 0px;
  }

  .review-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center ;
        -ms-flex-pack: center ;
            justify-content: center ;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(41, 42, 45);
    border: 3px solid rgb(99, 99, 99);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

  }

  .review-content{
    width: 20%;
    padding-top:10px;
    padding-bottom:10px;
  }

  .travelers-prof-pic-container {
    display: block;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px 2px #252525;
            box-shadow: 1px 1px 2px 2px #252525;

  }
  
  .traveler-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
    line-height: 20px;
    font-weight: 500;
  }
  
  .travelers-info-block {
    display: inline-block;
    width: 50%;
    margin-left: 5px;
  }
  

  .allFlags {
    position:relative;
    margin-top: 5px;
    padding: 5px;
    color: #333;
    margin-bottom: 30px;
  }

  .travelers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(41, 42, 45);
    border: 3px solid rgb(99, 99, 99);
  }
  
  
  
  .div-block-11 {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 2px solid rgb(99, 99, 99);
    background-color: rgb(47, 46, 46);
  }
  .div-block-12 {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
  }
  .editCommentContainer{
    margin-top: auto;
    margin-bottom: auto; 
    margin-right: 5px;

  }


  .newComment {
    border: 2px solid rgb(3, 116, 28);
  }

  

  .comments-edit-block{
    position: absolute;
    width: 20%;
    top:auto;
    left: auto;
    right:0;
    bottom: 0;
    height: 100%;
    margin-top: auto;
    background-color: #c1c1c148;
    display: none;
  }

  .comments-edit-cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin:auto;
  }
  .btn-space{
    margin-right: 15px;
  }
  .div-block-8:hover .comments-edit-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .heading-6 {
    display: inline-block;
    font-size: 1.3em;
  }
  
  .button {
    margin-right: 10px;
  }
  
 
  
  .see-all-visites{
    position: absolute;
    left: auto;
    right: 0;
    top: auto;
    bottom: auto;
    
  }
  .heading-7 {
    margin:0px;
    padding: 0px;
    text-align: right;
    text-decoration: none;
  }

  .heading-7 p{
    margin:0 0 0 0;
    padding: 0px;
    display: inline-block;
    width: auto;
    
  }

  h1{
    color:#eeee;
  }
  .visiters-title {
    margin-top: 50px;
    color:#eeee;
  }
  
  .heading-9 {
    display: inline;
  }

  .comment-block{
    width: 90%;
  }


  .travelers-item-block:hover{
    background-color: rgba(255, 255, 255, 0.603);
    -webkit-box-shadow: 1px 0 2px 0 #000;
            box-shadow: 1px 0 2px 0 #000;
  }

  .travelers-item-block:hover  .traveler-place , .traveler-name {
    color:#056b7a;
  }
  
  @media screen and (max-width: 991px) {
    .div-block-9 {
      width: auto;
      margin: 10px;
      text-align: center;
    }
    .div-block-8{
      margin-top: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .travelers-block{
      -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    }
    .map-text-conteiner{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .div-block-4{
      width: 100%;
    }
    .div-block-3{
      width: 90%;
    }
    
    .div-block-6{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
     
    }
    .div-block-2{
      width: 100%;
    }  
    .div-block-2 > .image{
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
    } 
    
    .div-block-5{
      margin-top: 20px;
      width: 100%;
    }
    .review-content{
      width: 33%;

    }
  }


 

  

  @media screen and (max-width: 550px) {
    .travelers-block{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .travelers-block {
      -ms-flex-line-pack: center;
          align-content: center;
      width: 100%;
    }
    .review-content{
      width: 40%;
      margin: auto;
    }
  }

  
  
  @media screen and (max-width: 479px) {
    .page-container{
      width: 100vw;
      overflow: scroll;
    }
    .heading-7 {
      text-align: center;
    }
    .review-content{
      width: 70%;
    
    }
  }